# Node modules
node_modules/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Build output
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Local SQLite Database (we don't want to upload live data to GitHub)
backend/data.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
